*{
    max-width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    overflow: hidden;
    min-height: 100vh;
    background: url("/assets/image/stage.png");
    background-size: cover ;
    margin: 5%;
}

#main_menu{
    display: flex;
    gap: 8%;
}

#rules{
    width: 20%;
    text-align: center;
}

#menu{
    width: 60%;
    height: 30vh;
    text-align: center;
}

button{
    width: 19%;
    padding: 2.5vh;
    margin: 5%;
    background: whitesmoke;
    cursor: pointer;
}

a{
    color: #000;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: large;
    transition: 0.5s;
}

a:hover{
    color: whitesmoke;
}